
.skills-main-box{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.skills-section{
    width: 60%;
    margin: auto;
}

.skills-section-title{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.skills-list{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 720px){

    .skills-section{
        width: 95%;
    }



}
