
.project-card-box{
    display: flex;
    width: 60%;
    float: 1;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 16px;
    padding: 8px 8px;
    border-color: #f0341b;
    border-width:1px ;
    border-style: outset;
   
    
}


.project-pic{
    width: 40%;
}

.project-info{
    margin-right: 24px;
}

.project-tittle{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;

}

.project-card-date{
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-bottom: 10px;
}

.project-tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    height: max-content;
    overflow: hidden;
}

.tag{
    display: inline;
    width: max-content;
    padding:4px 8px;
    background-color: none;
    color: #f0341b;
    border-color: #f0341b;
    border-width:1px ;
    border-style: solid;
    margin-right: 2px;
    margin-bottom: 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    height: max-content;
    overflow: hidden;
}

.project-links a{
    text-decoration: none;
    color: black;
}

.project-links{
    margin-top: 6px;
    display: flex;
}

.project-link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    background-color: #f0341b;
    padding:4px 8px;
    margin-right: 4px;
    margin-bottom: 6px;
    border-radius: 4px;
    font-weight: 600;
    padding:4px 8px;
}

.project-about{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
}

.project-card-box:last-child{
    margin-bottom: 26px;
}


@media only screen and (max-width: 720px){
    .project-card-box{
        width: 95%;
        flex-direction: column;
    }

    .project-pic{
        width: 100%;
        margin-top: 20px;
    }

    .project-info{
        margin-right: 0px;
    }

    .project-tags{
        height: max-content;
        margin-right: 10px ;
    }

    .tag{
        font-size: 9px;
    }
}
